.archive-container
  redefine-container(
    false,
    0,
    0,
    30px,
    30px
  )

@media screen and (max-width: 768px)
  .archive-container
    padding: 15px 10px !important
    margin-top: 10px
    margin-bottom: 10px
    
@media screen and (max-width: 480px)
  .archive-container
    padding: 10px 5px !important
    margin: 5px
